.main-div {
  text-align: center;
  margin-top: 15%;
}
input {
  width: 20%;
  padding: 1%;
  box-shadow: 2px 2px 8px black;
}
input:hover {
  box-shadow: 5px 5px 12px black;
}
button {
  cursor: pointer;
  padding: 1%;
  background-color: #273746;
  color: #ecf0f1;
  box-shadow: 2px 2px 8px black;
}
button:hover {
  box-shadow: 5px 5px 12px black;
}
